<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">Recipe Book</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/home/recipes" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="/home/shopping-list" routerLinkActive="active"
                    >Shopping List</a>
                </li>    
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"style="cursor: pointer;" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Control
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
                        <li><a class="dropdown-item" style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a></li>
                        <li><a class="dropdown-item" style="cursor: pointer;" (click)="onLogout()">Logout</a></li>
                    </ul>
                </li>                            
            </ul>
        </div>

        <span style="font-weight: bold; color: #066268;">{{ userName }}</span>
    </div>
</nav>