<br>
<div class="container">
  <ul class="nav nav-tabs">    
    <li class="nav-item">
      <a class="nav-link" aria-current="page" routerLink="/" 
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/users', 1]"  routerLinkActive="active">Users 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/users', 2]"  routerLinkActive="active">Users 2</a>
    </li>                
  </ul>
  <div class="row" style="padding-left: 12px;padding-right: 12px;">
    <div class="col-sm-12 tabBorder">
      <p *ngIf="activated">Activated!</p>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>