<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div *ngIf="postResult | async as result; else noData">
  <div *ngIf="result.hasData; else noData">
    <mat-accordion multi="true">
      <mat-expansion-panel *ngFor="let post of result.array">
        <mat-expansion-panel-header>
          {{ post.title }}
        </mat-expansion-panel-header>
        <div class="post-image">
          <img [src]="post.imagePath" [alt]="post.title">
        </div>
        <p>{{ post.content }}</p>
        <mat-action-row *ngIf="post.creator">
          <button mat-button color="primary" (click)="editPost(post.id)">EDIT</button>
          <button mat-button color="warn" (click)="deletePost(post.id)">DELETE</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-paginator #paginator
      [length]="result.postTotal"
      [pageSize]="postsPerPage"
      [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)"></mat-paginator>
  </div>
</div>
<ng-template #noData>
  <p class="info-text mat-body-1" >No posts added yet!</p>
</ng-template>
