<div class="row">
    <div class="form-group">
        <label >Name</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter Name"
        [(ngModel)]="recipe.name">
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label >Description</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter Description"
        [(ngModel)]="recipe.description">
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label >Image Path</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter Image Path"
        [(ngModel)]="recipe.imagePath">
    </div>
</div>
<div class="row" style="padding: 10px;" *ngIf="!editMode">
    <button class="btn btn-primary" style="width: 150px;" (click)="add()">Add</button>
</div> 
