<div *ngIf="recipe; else infoText">
    <div class="row">
        <div class="col-x-12">
            <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive"
            style="max-height: 250px;max-width: 250px;">
        </div>
    </div>
    <div class="row">
        <div class="col-x-12">
            <h1>{{recipe.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-x-12">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" 
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                [appDropdown]="dropdownMenuB">
                    Manage Recipe
                </button>
                <div #dropdownMenuB class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" style="cursor: pointer;" (click)="addIngredients()">Add Shopping List</a>
                    <a class="dropdown-item" style="cursor: pointer;" [routerLink]="['/recipes', recipe.id, 'edit']">Edit Recipe</a>
                    <a class="dropdown-item" style="cursor: pointer;" (click)="delete()">Delete Recipe</a>
                </div>
            </div> 
        </div>
    </div>
    <div class="row">
        <div class="col-x-12">
            {{recipe.description}}
        </div>
    </div>
    <div class="row">
        <div class="col-x-12">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let item of recipe.ingredients">
                    {{item.name}} - ({{item.amount}})
                </li>
            </ul>
        </div>
    </div>
</div>    
<ng-template #infoText>
    <p>Please select a Recipe!</p>
</ng-template>